article{
    background: color #ffecb3;
    Font-size: 16px;
    color: #333;
    p{
        line-height: 1.5;
        font-style: italic;
    }
}

article.featured{
    Background-color: #ffd54f;
    Font-weight: bold;
    Border: 2px solid #FFA000
}
article.featured:hover{
    transition: 1s ease-in-out;
    transform: scale(2);
    background-color: #FFB300
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}